*, html, body, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	--left_right: 15px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100%;
	--container-m-width: 950px;

}

.pd20{
	padding: 20px var(--left_right);
}

.xt{
	width: 100%;
}

.bg-prm{
	background-color: #55f;
	color: #fff;
}

.bg-prm a{
	color: #fff;
	text-decoration: none;
}
.container{
	margin: 0 auto;
	max-width: var(--container-m-width);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.bg-lgh{
	background-color: #eef;
}
.footer{
	margin-top: auto;
}
.row{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	gap: 1%;
	grid-row-gap: 10px;
	margin: 30px auto;
}
.col-md-3{
	/*width: 22%;*/
	width: calc(97%/4);
}
.card{
	border: 1px solid #666;
	border-radius: 5px;
	height: 100%;
	padding: 10px 15px;
	/*cursor: pointer;*/
	transition: .3s;
}
.card:hover{
	/*color: #ddd;
	background-color: #444;*/
}
.card-title{
	font-weight: 800;
	margin-bottom: 0;
}
.txt-muted{
	color: #666;
	font-size: .7em;
	margin-bottom: 1.3em;
}
.btn{
	display: block;
	text-decoration: none;
	color: #ddd;
	background-color: #55f;
	border-radius: 5px;
	margin-top: 2em;
	padding: 8px 13px;
	width: max-content;
	transition: .3s;
	transform: scale(1);
}
.btn:hover{
	transform: scale(1.03);
}
.card-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.card-body a.btn{
	margin-top: auto;
}
.p-content{
	margin-bottom: 1.5em;
}
.p-content+p{
	margin-top: auto;
}

.g-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.g-flex .btn.prm#nxt-pg{
	margin-left: auto;
}

.labels{
	display: flex;
	flex-direction: row;
	gap: .3em;
	font-size: .6em;
}

.category-label{
	text-decoration: none;
	padding: .5em 1em;
	background: #888;
	color: #fff;
	border-radius: 4px;
}